{% extends "AlumnosCoder/base.html" %} 
{% load static %}

{%block main%}

<br>
<br>

<h1>Entrega final del curso de Python</h1>
<p>Hola! Mi nombre es Chiara Facal, tengo 19 años y estoy haciendo la carrera de Negocios Digitales en la Universidad de San Andrés.</p>
<p>Decidí anotarme en el curso como un primer acercamiento al lenguaje de programación Python ya que me interesa bastante el data analysis</p>
<p>En este proyecto básicamente lo que hice fue, a través de todo lo aprendido, crear un proyecto con el framework Django que contiene dos aplicaciones que buscan simular lo que sería un blog entre estudiantes de Coderhouse. El visualizador de la página puede decidir registrarse, para no solo poder acceder a mirar el detalle de los posts, como solo puede aquel que no está registrado, sino también crearlos, borrarlos y actualizarlos. Además, quien está registrado puede completar su perfil, agregando una foto, y mandar y visualizar mensajes hacia/desde otros usuarios registrados.</p>

{% endblock %}